<article class="post">
  <div class="title text-heading">
     Title: {{title}}
  </div>
  <div class="subtitle">
     By {{user.username}} on {{format_date created_at}}
    |
    <a href="/post/{{id}}">View post</a>
  </div>
</article>